html, body {
	margin: 0; 
	padding: 0; 
	overflow: auto;
}

body { 
    background: rgb(204,204,204); 
    font-family: Arial; 
    font-size: 13px; 
    line-height: 2.2em; 
    color: #444; 
} 

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  margin-top: 2cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}

page[size="A4"][layout="portrait"] {
  width: 29.7cm;
  height: 21cm;  
}

page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}

page[size="A3"][layout="portrait"] {
  width: 42cm;
  height: 29.7cm;  
}

page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}

page[size="A5"][layout="portrait"] {
  width: 21cm;
  height: 14.8cm;  
}

@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}

#principal {
    padding: 20px 60px; 
    border: 1px solid #D2D2D2; 
    background: #fff;
    margin: 10px auto;
}

label {
  margin: 5px;
  font-weight: bold;
}

/*Login*/


/*Escritorio*/
#cpescritoriotapiz{
	height: 100%; 
	width: 100%;
}

#cpescritoriomenu{
	border: 0;
}

#cpescritorio{
	border: 1;
}

/*Donante*/
#eantfamicd,#einfcliniccd{
	margin-bottom: 5px;
}

#bescres {
	background-image: url(/sigloweb/iconos/resultados.png);
	width: 100px;
	height: 100px;
	background-size: 100px 100px;
	background-repeat: no-repeat;
}

#bescpet {
	background-image: url(/sigloweb/iconos/solicitudes.png);
	width: 100px;
	height: 100px;
	background-size: 100px 100px;
	background-repeat: no-repeat;
}

#bescmon {
	background-image: url(/sigloweb/iconos/monitor.png);
	width: 100px;
	height: 100px;
	background-size: 100px 100px;
	background-repeat: no-repeat;
}

div img{ display: block;float: left;margin-right: 5px;}

.imagepdf{
	height:20px;width:20px;
	background-image:url(/sigloweb/iconos/pdfm.png);
	background-repeat: no-repeat;
}

.imagok{
	height:20px;width:20px;	
	background-image:url(/sigloweb/iconos/ok.png);
	background-repeat: no-repeat;
}

.imagno{	 
	height:20px;width:20px;
	background-image:url(/sigloweb/iconos/no.png);
	background-repeat: no-repeat;
}

.imagprn{
	height:20px;width:20px;
	background-image:url(/sigloweb/iconos/print.png);
	background-repeat: no-repeat;
}